<div class="container">
    <h1 class='title-lg mb'>Questions</h1>

    <% @questions.each do |question| %>
    <p class="mb-sm"><%= link_to "Вопрос #{question.id}", question_path(id: question.id) %></p>

    <% end %>

    
    <p class="mt">
        <%= link_to "Create new question", new_question_path, class: 'button button-main' %>
    </p>


</div>