body {
    color: #131e21;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif';
}

a, button {
    color: #8C4C35;
}

.title-lg {
    font-size: 175%;

}

.title-md, .title {
    font-size: 150%;

}
.title-sm, .title {
    font-size: 125%;

}

.text-sm {
    font-size: 80%;
}

.text-gray {
    color: rgb(106, 105, 105);
}

